# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=your_password
DB_DATABASE=thmanyahdb

# Application Configuration
NODE_ENV=development
PORT=3001

# CORS Configuration
ALLOWED_ORIGINS=http://localhost:3000,https://main.d19e30r7ro0wel.amplifyapp.com,https://agd9mkwapi.us-east-1.awsapprunner.com

# iTunes API (if needed for rate limiting)
ITUNES_API_KEY= 